<div class="tab-design-button">
    <!-- <ng-container *ngFor="let category of categories">
        <button mat-button class="" *ngIf="category.productEnable">
            <img src="../../assets/all-products.png" alt="All Products">
            <span>{{category.title}}</span>
        </button>
    </ng-container> -->
    <button mat-button class="active">
        <img src="../../../assets/all-products.png" alt="All Products">
        <span>All Products</span>
    </button>
    <button mat-button>
        <img src="../../../assets/electronic.png" alt="electronics">
        <span>Electronics</span>
    </button>
    <button mat-button>
        <img src="../../../assets/fashion.png" alt="Fashion">
        <span>Fashion</span>
    </button>
    <button mat-button>
        <img src="../../../assets/jewellery.png" alt="jewelery">
        <span>Jewelery</span>
    </button>
</div>