// Product Category Design
.tab-design-button {
    button {
        height: 80px;
        padding: 0px 10px;
        min-width: 120px;
        border-radius: 0;
        border-bottom: 2px solid #f7f7f7;
        &.active {
            background: #fff;                
            border-bottom-color: #1976d2;
        }
        .mat-button-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            img {
                max-height: 40px;
                width: auto;
            }
            span {
                margin-top: 0;
                font-weight: 400;
                color: #7e7e7e;
            }
        }
        &:not(:last-child) {
            margin-right: 5px;
        }
    }
  }