<mat-card class="header d-flex align-items-center justify-content-between">
    <h2 class="m-0 flex-1">Terms Condition</h2>
</mat-card>
<div class="all-users p-4 mt-2">
    <mat-card>
        <form [formGroup]="updatePage" (ngSubmit)="onSubmit()">
            <div class="form-group mb-2">
                <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="Title" formControlName="title">
                </mat-form-field>
                <div *ngIf="submitted && f['title'].errors" class="alert alert-danger">
                    <div *ngIf="f['title'].errors['required']">Title is required</div>
                    <div *ngIf="f['title'].errors['minlength']">Title should be 3 character.</div>
                </div>
            </div>
            <div class="form-group mb-3">
                <label class="mb-1 d-block" for=""><strong>Detail</strong></label>
                <ckeditor [editor]="Editor" data="" formControlName="description"
                    [ngClass]="{ 'is-invalid': submitted && f['description'].errors }" class="ckeditor"></ckeditor>
                <div *ngIf="submitted && f['description'].errors" class="alert alert-danger">
                    <div *ngIf="f['description'].errors['required']">Title is required</div>
                </div>
            </div>
            <button mat-flat-button color="primary" type="submit">Submit<span *ngIf="spinner">...</span></button>
        </form>
    </mat-card>
</div>